/* !RESET */
img {
    width: 100%;
}

li {
    list-style-type: none;
}


/* !ROOT */
:root {
    --debug-height: 3.5rem;
    --debug-width: 3.5rem;
    --sidebar-bg: #051E34;
}


/* !COMMON */
/* @Layout */
.ms_wrapper {
    height: 100vh;
}

.ms_header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /* debug */
    height: var(--debug-height);
}

.ms_main {
    height: calc(100vh - var(--debug-height));
    width: 100%;
}

.ms_sidebar {
    background-color: var(--sidebar-bg);
    background-image: url(/img/sidebar-bg.png);
    width: var(--debug-width);
    
}

.ms_content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.ms_content-top {
    background-color: #1B72E8;
    color: white;
}

.ms_content-bottom {
    height: 100%;
    display: flex;
    padding: 2rem 0;
    
}

/* @media query */
@media screen and (min-width: 768px) {
    :root {
        --debug-width: 7rem;
    }
}


/* !HEADER */
/* @Navbar */
.navbar-brand .mobile {
    width: 2.5rem;
}
.navbar-brand .desktop {
    width: 7rem;
}

.navbar-nav input {
    background-color: #e9ecef;
    border-left: none;
}

#searchbar {
    border-right: none;
}

/* #hover */
.navbar-nav .form-control:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
}

.navbar-nav .form-control:hover {
    background-color: white;
    transition: 250ms;
}

/* !MAIN */
/* @sidebar */
.ms_sidebar a {
    color: white;
    text-decoration: none;
}

#bell {
    color: #FF8F00;
}

/* #hover */
.nav-pills li:hover {
    background-color: rgba(255, 255, 255, .2);
}


/* @content-top */
.ms_btn {
    height: 40px;
    width: 40;
}

.badge {
    background-color: #165BBA;
}

/* #offcanvas */
.ms_content .offcanvas {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .ms_content .offcanvas {
        width: 50%;
    }
}

/* @content-bottom */
/* #class */
.ms_class::before {
    content: '';
    background-image: url(/img/class-avatar.jpg);
    background-size: 2rem 2rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: .5rem;
}

span.text-bg-warning {
    color: white!important;
}

/* #hover */
.btn-light:first-of-type:hover i {
    color: green;
}

.btn-light:nth-of-type(2):hover i {
    color: red;
}