/* !RESET */
img {
    width: 100%;
}

/* !ROOT */
:root {
    --debug-height: 100px;
    --debug-width: 100px;
}

/* !COMMON */
.ms_wrapper {
    height: 100vh;
    position: relative;
}

.ms_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* debug */
    height: var(--debug-height);
}

.ms_main {
    height: 100vh;
}

.ms_sidebar {
    padding-top: var(--debug-height);

}

.ms_content {
    overflow-y: auto;
    padding-top: var(--debug-height);
}

.ms_content-top {

}

.ms_content-bottom {
    height: 100%;
    display: flex

}

/* !MAIN */
/* @sidebar */

/* @container-bottom */
/* #class */

.ms_class::before {
    content: '';
    background-image: url(/img/class-avatar.jpg);
    background-size: 2rem 2rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;

